.services 
    min-height: 100vh
    min-width: 100%
    
    background: #2991D6

    display: grid
    grid-template-rows: 2fr 3fr

    .services_text 
        text-align: center
        color: #fff

        .title 
            font-size: 4rem
            margin: 2rem 0

    .services_cards 
        background: #fff
        position: relative
        
        display: flex
        justify-content: center
        .services_container 
            display: grid
            grid-template-columns: repeat(3, auto)
            justify-content: center
            column-gap: 3rem
            row-gap: 2rem

            position: absolute
            top: -25%

        