.main 
    min-height: calc( 100vh - 6.25rem )
    width: 100%
    overflow: hidden

    background-image: url('../../assets/banner.png') 
    background-size: cover
    background-repeat: no-repeat
    background-position: center

    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: #fff


    .title 
        font-size: 4rem
        font-weight: 400
        margin: 2rem 2.5rem
    .paragraph 
        max-width: 100ch
        font-size: 1.25rem
        font-weight: 500

    .button 
        font-size: 1.5rem
        color: #fafafa

        background: #FF5A01
        padding: 1.1875rem 2rem
        margin: 4rem 0 2rem
        transition: all .3s
        cursor: pointer

        &:hover 
            background: #ff7023

    @media (max-width: 768px)
        padding: 1rem
        .title 
            font-size: 2rem

        .paragraph
            font-size: .975rem
            line-height: 1.125

        .button 
            font-size: 1.25rem
            padding: .8rem 1rem
            margin: 2rem 0 6.625rem