.testimonials 
    width: 100%
    height: 70vh
    display: grid
    grid-template-rows: 1fr 1fr
    position: relative

    .testimonials_text
        display: flex
        flex-direction: column
        align-items: center
        gap: 1rem

        margin-bottom: 4rem

        .title 
            font-size: 4rem

        .paragraph 
            font-size: 1.25rem

        
    .testimonials_cards 
        background: #FF5A01

        display: flex
        justify-content: center
        gap: 3rem

        .cards_row 
            height: fit-content
            transform: translateY(-50%)
            display: flex
            justify-content: center
            gap: 3rem


    .detail 
        position: absolute
        bottom: 0

        